on post-fs-data
    mkdir /data/vendor/display 0770 system system

service vendor.livedisplay-hal-nobleltespr /vendor/bin/hw/vendor.lineage.livedisplay-service.nobleltespr
    class hal
    user system
    group system
